# Override gtk theme
# theme = "Adwaita-dark"
# Override gtk icon theme
# IconTheme = "Adwaita"

Set Term = "foot"

# Window Placer
placer {
  xorigin = 5  # place the first window at X% from the left
  yorigin = 5  # place the first window at X% from the top
  xstep = 5    # step by X% of desktop horizontally
  ystep = 5    # step by X% of desktop vertically
  children = true
}

# Task Switcher
switcher {
  interval = 700
  icons = true
  labels = false
  cols = 5
}

function("SfwbarInit") {
#  Config "PopUp 'XVolumeWindow' { AutoClose = true }"
}

include("winops.widget")

# Panel layout
layout {
  mirror = "*"
  layer = "top"
  bar_id = "bar-0"
  # sensor = 700
  monitor = "eDP-1"

  grid {
    style="start-menu-wrapper"
    include("startmenu.widget")
  }

  grid {
    style = "launcher-bar"
    button {
      style = "launcher"
      value = $Term
      action = Exec $Term
    }
    button {
      style = "launcher"
      value = "firefox"
      action = "firefox-bin"
    }
  }

  # label {
  #   # Stretch horizontally
  #   css = "* { -GtkWidget-hexpand: true; -FlowGrid-column-homogeneous: true; }"
  # }

# Uncomment the below section if you would like a pager
#  pager {
#    style = "pager"
#    rows = 1
#    preview = true
#    numeric = true
#  }

  taskbar {
    rows = 1
    css = "* { -GtkWidget-hexpand: true; -FlowGrid-column-homogeneous: true; }" # stretch horizontally
    labels = true
    icons = false
    # group = pager  # remove this line if you don't want a multi-desktop taskbar
    group icons = false
    group labels = true
    sort = false
    numeric = true
    action[RightClick] = Menu "winops"
    action[MiddleClick] = Close
    action[Drag] = Focus
  }

  # include("cpu.widget")
  # include("memory.widget")

  grid {
    style="right-edge"

    tray {
      style="tray"
      rows = 1
    }

    grid {
      style="volume-wrapper"
      include("volume.widget")
    }

    grid {
      style="network-wrapper"
      include("network-module.widget")
    }
    # include("bluez.widget")

    # Not using as the python script is incompatible with autohide
    # include("battery.widget")
    grid {
      style="battery-wrapper"
      include("battery-text-icon.widget")
      include("mpd-intmod.widget")
      include("watts.widget")
      # include("sway-lang.widget")
    }

    grid {
      style="date-wrapper"
      label {
        style="date"
        value = Time("%a, %e %b")
      }
    }

    grid {
      style="time-wrapper"
      label {
        style="time"
        value = Time("%k:%M")
      }
    }
  }
}

#CSS

/* Text colours */
@define-color dark_text rgb(53, 45, 48);
@define-color theme_text_color white;
@define-color theme_bg_color black;
@define-color theme_fg_color white;
@define-color borders rgba(255,255,255,0.3);
/* Background colours */
@define-color background rgba(0, 0, 0, 0.6);
/* Bar colours */
@define-color menu rgba(176, 83, 102, 1);
@define-color launcher rgba(203, 125, 139, 1);
@define-color tray rgba(255, 228, 110, 1);
@define-color volume rgba(203, 88, 81, 1);
@define-color network rgba(73, 103, 155, 1);
@define-color battery rgba(242, 171, 187, 1);
@define-color date rgba(253, 228, 154, 1);
@define-color time rgba(238, 212, 125, 1);

window#sfwbar {
  -GtkWidget-direction: top;
  background-color: rgba(131, 204, 219, 0.6);
  /* background-color: rgba(254, 240, 239, 1); */
}

grid#layout {
  -GtkWidget-direction: right;
  min-height: 30px;
}

grid {
  padding: 0px;
  margin: 0px;
}

tooltip {
  background-color: @theme_bg_color;
}

image {
  min-width: 18px;
  min-height: 18px;
  box-shadow: none;
  border: none;
  border-image: none;
  background-image: none;
  background: none;
  -gtk-icon-shadow: none;
}

button {
  box-shadow: none;
  border-image: none;
  background-image: none;
  background: none;
  outline-style: none;
}

menu {
  background-color: rgba(247, 234, 232, 0.9);
  /* border: 1px solid @borders; */
  border-radius: 0px;
  padding: 3px;
}

menu arrow {
  background-color: rgba(0,0,0,0);
  color: black;
}

menuitem {
  color: black;
  padding: 3px;
}

menuitem label {
  color: black;
}

menuitem:hover {
  background: @launcher;
}

menu image {
  padding-right: 5px;
}

progressbar trough {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255,255,255,0.5);
}

#hidden {
  -GtkWidget-visible: false;
}

/* Taskbar */
button#taskbar_normal image,
button#taskbar_active image,
button#taskbar_normal:hover image {
  min-width: 24px;
  min-height: 24px;
}

button#taskbar_active label,
button#taskbar_normal:hover label {
  color: @dark_text;
}

button#taskbar_normal label,
button#taskbar_active label,
button#taskbar_normal:hover label {
  padding: 0px 0px 0px 5px;
  -GtkWidget-hexpand: false;
}

button#taskbar_normal,
button#taskbar_active,
button#taskbar_normal:hover {
  border-width: 0px;
  border-radius: 0px;
  padding: 0px 10px;
  background-color: rgba(119,119,119,0.2);
  border-color: rgba(119,119,119,0.3);
  -GtkWidget-hexpand: false;
}

button#taskbar_active {
  background-color: rgba(255,255,255,0.2);
  border-color: rgba(255,255,255,0.4);
}

button#taskbar_normal:hover,
button#taskbar_active:hover {
  background-color: @date;
  border-color: rgba(234,234,234,0.44);
}


/* Taskbar Pager - Not used for now */
grid#taskbar_pager_active,
grid#taskbar_pager_normal {
  padding-right: 3px;
  padding-left: 3px;
  border: solid rgba(119,119,119,0.3) 1px;
}

grid#taskbar_pager_normal button,
grid#taskbar_pager_active button,
button#pager_normal,
button#pager_visible,
button#pager_focused {
  padding: 0px 5px 0px 5px;
  border-color: rgba(119,119,119,0);
}

button#pager_focused {
  background-color: rgba(119,119,119,0.2);
  border: none;
}

button#pager_preview {
  border-color: #000000;
  border-width: 0.25mm;
  color: #777777;
  min-width: 5cm;
  min-height: 2.8125cm;
}

grid#switcher_active image,
grid#switcher_active {
  min-width: 60px;
  min-height: 60px;
  border-image: none;
  padding: 6px;
  background-color: #777777;
  border: 0px;
  box-shadow: none;
  -GtkWidget-hexpand: true;
}

grid#switcher_normal image,
grid#switcher_normal {
  min-width: 60px;
  min-height: 60px;
  padding: 6px;
  -GtkWidget-direction: right;
  -GtkWidget-hexpand: true;
}

window#switcher { 
  background-color: rgba(0,0,0,0);
  padding: 6px; 
  -GtkWidget-hexpand: true;
}

grid#switcher { 
  background-color: @theme_bg_color;
  border: 1px solid @borders;
  padding: 6px;
  box-shadow: none;
  -GtkWidget-hexpand: true;
}

button#tray_active,
button#tray_passive,
button#tray_attention {
  padding: 0px 1px 0px 0px;
  border: none;
  margin: 0px;
  -GtkWidget-valign: center;
}

button#tray_passive {
  -GtkWidget-visible: false;
}

button#start-menu image,
button#module image{
  -ScaleImage-color: @theme_text_color;
  -ScaleImage-symbolic: true;
}

button#module,
button#launcher,
button#showdesktop,
button#start-menu {
  padding: 0px 3px 0px 3px;
  border: none;
  -GtkWidget-valign: center;
}

button#start-menu {
  /* background: rgba(255, 255, 0, 1);
   * border: 1px solid;
   */
  border-width: 0px;
}

button#start-menu image {
  min-width: 18px;
  min-height: 18px;
  padding: 1px;
}

chart#cpu_chart {
  background: rgba(127,127,127,0.3);
  min-width: 9px;
  margin: 2px;
  border: 1px solid @borders;
  color: red;
}

progressbar#memory {
  -GtkWidget-direction: top;
  min-width: 9px;
  border: 1px solid @borders;
  margin: 2px;
}

progressbar#memory trough {
  min-height: 2px;
  min-width: 9px;
  border: none;
  background: rgba(127,127,127,0.3);
}

progressbar#memory progress {
  -GtkWidget-hexpand: true;
  min-width: 9px;
  border: none;
  margin: 0px;
  background-color: alpha(green,0.9);
}

label#sway_lang {
  margin-left: 3px;
  margin-right: 5px;
}

label {
  font: 12px Sans;
  color: @theme_text_color;
  text-shadow: none;
}

/* Left side of start menu */

grid#start-menu-wrapper {
  padding: 0px 15px;
  background: @menu;
}

grid#launcher-bar {
  background: @launcher;
  padding: 0px 10px;
}

grid#launcher-bar * {
  margin: 0px 2px;
}

/* Right side of start menu */

/*
 * grid#right-edge {
 *   background: @tray;
 *   padding: 0px 0px 0px 20px;
 * }
 */

grid#tray {
  background: @volume;
}

grid#tray button {
  padding-left: 10px;
}

grid#volume-wrapper {
  padding: 0px 10px;
  background: @volume;
}

grid#network-wrapper {
  padding: 0px 10px;
  background: @network;
}

grid#battery-wrapper {
  padding: 0px 10px;
  background: @battery;
}

grid#battery-wrapper * {
  padding: 0px 1px;
}

grid#date-wrapper{
  padding: 0px 10px;
  background: @date;
}

grid#time-wrapper {
  padding: 0px 10px;
  background: @time;
}

grid#battery-wrapper button#module image {
  -ScaleImage-color: rgb(53, 45, 48);
}

grid#battery-wrapper *, grid#date-wrapper *, grid#time-wrapper * {
  color: rgb(53, 45, 48);
}

* {
  -GtkWidget-vexpand: true;
}

